ORDERER_GENERAL_LOCALMSPID=OrdererMSP
HOSTNAME=${HOSTNAME}

ORDERER_GENERAL_SYSTEMCHANNEL=${ORDERER_GENERAL_SYSTEMCHANNEL}

ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
ORDERER_GENERAL_LISTENPORT=7050
ORDERER_GENERAL_LOCALMSPDIR=${ORDERER_GENERAL_MSP_PATH}

ORDERER_GENERAL_TLS_ENABLED=true
ORDERER_GENERAL_TLS_CERTIFICATE=${ORDERER_GENERAL_TLS_PATH}/server.crt
ORDERER_GENERAL_CLUSTER_ROOTCAS=[${ORDERER_GENERAL_TLS_PATH}/ca.crt]
FABRIC_LOGGING_SPEC=INFO
ORDERER_GENERAL_TLS_PRIVATEKEY=${ORDERER_GENERAL_TLS_PATH}/server.key
ORDERER_GENERAL_TLS_ROOTCAS=[${ORDERER_GENERAL_TLS_PATH}/ca.crt]
ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE=${ORDERER_GENERAL_TLS_PATH}/server.crt
FABRIC_CFG_PATH=${FABRIC_CFG_PATH}
ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY=${ORDERER_GENERAL_TLS_PATH}/server.key
ORDERER_GENERAL_GENESISFILE=${CHANNEL_ARTIFACTS}/genesis.block
ORDERER_GENERAL_GENESISMETHOD=file
ORDERER_FILELEDGER_LOCATION=${ORDERER_FILELEDGER_LOCATION}